click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
markdown-toclify==0.1.7
MarkupSafe==1.0
pynput==1.3.9
pyobjc-core==4.1
pyobjc-framework-Cocoa==4.1
pyobjc-framework-Quartz==4.1
six==1.11.0
Werkzeug==0.13
